<div id="main-chat-container" class = "w-full h-screen bg-gray-200 flex justify-center p-4">
  <div class="flex w-1/2 flex-col justify-between bg-white p-3 shadow-2xl rounded-xl">
  <div class="flex flex-col w-full">
    <p class="text-3xl font-medium pb-4 border-b-4 mb-2.5 dark:text-white">
    @if(this.courseAndSection !== null){
    {{ this.courseAndSection.toUpperCase()}}
     }
     @else{
        CS: 349
     }
     TA</p>
    <!-- Chat list starts here: -->
      @for(message of this.messages; track message){
        @if(message.isSentByUser === false){
           <div class="flex items-start gap-2.5 mb-2.5 w-full">
              <div class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-xl dark:bg-gray-600">
                  <span class="font-medium text-gray-600 dark:text-gray-300">TA</span>
              </div>
              <div class="flex flex-col w-full max-w-[85%] leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-700">
                <p class="text-lg font-normal py-2.5 text-gray-900 dark:text-white">{{message.content}}</p>
              </div>
            </div>
        }@else{
          <div class="flex flex-row-reverse items-start gap-2.5 mb-2.5">
               <div class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-xl dark:bg-gray-600">
                   <span class="font-medium text-gray-600 dark:text-gray-300">S</span>
               </div>
               <div class="flex flex-col w-full  max-w-[85%] leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-ee-xl rounded-s-xl dark:bg-gray-700">
                 <p class="text-lg font-normal py-2.5 text-gray-900 dark:text-white">{{message.content}}</p>
               </div>
           </div>
        }
      }
  </div>
    <form class="mt-1" name="add-new-message-form">
        <label for="chat" class="sr-only">Your message</label>
        <div class="flex items-center px-3 py-2 rounded-lg bg-gray-50 dark:bg-gray-700">
            <input [(ngModel)]="this.userInput"  name= "message-text-area" id="chat" rows="1" class="block mx-4 p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-zinc-500 focus:border-zinc-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-zinc-500 dark:focus:border-zinc-500" placeholder="Your message..." autocomplete="off"/>
                <button (click) = "this.sendMessage($event)" type="" class="inline-flex justify-center p-2 text-zinc-600 rounded-full cursor-pointer hover:bg-zinc-100 dark:text-zinc-500 dark:hover:bg-gray-600">
                <svg class="w-5 h-5 rotate-90 rtl:-rotate-90" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                    <path d="m17.914 18.594-8-18a1 1 0 0 0-1.828 0l-8 18a1 1 0 0 0 1.157 1.376L8 18.281V9a1 1 0 0 1 2 0v9.281l6.758 1.689a1 1 0 0 0 1.156-1.376Z"/>
                </svg>
                <span class="sr-only">Send message</span>
            </button>
        </div>
    </form>
  </div>
</div>

