<p class="lowered-Welcome-Text">Hello Instructor!</p>

<h1><b>New Classroom Set Up</b> <button class="bubble ">Create</button></h1>

<label for="courseField">Course Name</label>
<input class="textbox" type="text" name="Course-Name" id="courseField">

<div>
<label for="sectionField">Section</label>
<input class="textbox" type="text" name="Section-Name" id="sectionField">
</div>

<div>
<label for="sectionField">Upload Materials</label>
<input type="file" name="Materials" id="materialField">
</div>

